<tr>
  <td>
    <%= product.code %>
  </td>

  <td>
    <%= product.name %>
  </td>

  <td>
    <%= product.price %>
  </td>

  <td>
    <%= product.price_discount_type %>
  </td>

  <td>
    <%= product.from_amount %>
  </td>

  <td>
    <%= product.discount_value %>
  </td>
  <td>
  <%= button_to "Delete", product, method: :delete %> 
  </td>
</tr>
